.bg-menu{

    color:White;
    background: rgba(6, 136, 211, 0.911);
    width: 15%;
    
  }


  body{

    
    background: rgb(240, 242, 246);
    background: linear-gradient(90deg, rgb(230, 238, 255) 0%, rgba(220, 240, 255, 0.872) 100%);      
  }

  .heading{

    font-size:35px;
  }